<form class="login" action="logins" method="POST">
        <br/><br/>

        <input name="email" type="text" placeholder="email">
        <br/><br/>
        <input name="password" type="password" placeholder="Password">
        <br/><br/>
        <button type="submit" class="btn btn-success btn-md">LOGIN</button>
        <br/></br>
</form>
    <center>
        <a href="#/stu_tchr" type="button" class="btn btn-secondary btn-md">Register</a>
        <a href="#/forgetpss" type="button" class="btn btn-secondary btn-md">Forget Password</a>
    </center>   